// Link controls
.blocklayouts__link-popover {
	.components-popover__content {
		min-width: 350px;
		box-shadow:
			0 0 0 1px #ccc,
			0 2px 3px #0000000d,
			0 4px 5px #0000000a,
			0 12px 12px #00000008,
			0 16px 16px #00000005;
	}

	.block-editor-link-control__field {
		margin: 8px;
	}

	.block-editor-link-control__search-item {
		padding: 8px;
	}

	&-menu {
		border-top: 1px solid #ccc;
		padding: 8px;

		.components-button.has-icon {
			height: auto;
			padding-left: 8px;
			padding-right: 8px;
			text-align: left;

			& > svg {
				margin-right: 8px;
			}
		}
	}

	&-post-selected {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 16px;

		&-label {
			align-items: center;
			display: flex;
			flex-direction: row;
			gap: 8px;
		}

		&-icon {
			background-color: #f0f0f0;
			border-radius: 2px;
			height: 32px;
			width: 32px;
			align-items: center;
			display: flex;
			flex-shrink: 0;
			justify-content: center;
			position: relative;
		}
	}
}
