//Code Mirror
.blocklayouts-css-editor {
	border: 1px solid #e2e4e7;
	border-radius: 4px;
	margin-bottom: 8px;
	.CodeMirror {
		height: auto;
		min-height: 100px;
	}

	.CodeMirror-scroll {
		min-height: 100px;
	}
}

.blocklayouts-css-label {
	font-weight: bold;
	margin-bottom: 8px;
}

.blocklayouts-css-help {
	font-style: italic;
	margin-top: 8px;
}

.blocklayouts-css-example {
	margin-top: 16px;
	padding: 12px;
	background: #f0f0f0;
	border-radius: 4px;
	h4 {
		margin-top: 0;
		margin-bottom: 8px;
	}
	pre {
		background: #fff;
		padding: 8px;
		border-radius: 4px;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}
