.blocklayouts-modal {
	.components-modal__header {
		.components-modal__header-heading-container {
			min-width: 240px;
			margin-right: 36px;
		}
		.blocklayouts-modal__tabs {
			display: flex;
			gap: 8px;
			.blocklayouts-modal__tabs-button {
				&.is-selected {
					background-color: #f3f4f6;
					font-weight: 500;
				}
				&:focus:not(:disabled) {
					box-shadow: none;
					outline: none;
				}
				&:hover:not(:disabled) {
					background-color: #f8f9fa;
				}
			}
		}
	}

	.components-modal__content {
		overflow: unset;
		div:has(> div.blocklayouts-modal__container) {
			height: 100%;
		}
		.components-notice-list {
			.components-notice {
				margin-bottom: 16px;
				.components-notice__content {
					margin-bottom: 0;
					margin-top: 0;
				}
			}
		}

		.blocklayouts-modal__container {
			height: 100%;
			display: flex;
			gap: 20px;
			.blocklayouts-modal__sidebar {
				width: 240px;
				padding-top: 16px;
				margin-right: 12px;
				display: flex;
				gap: 8px;
				flex-direction: column;
				.blocklayouts-modal__sidebar-buttons {
					display: flex;
					gap: 8px;
					flex-direction: column;

					.blocklayouts-modal__sidebar-button {
						&.is-selected {
							background-color: #f3f4f6;
							font-weight: 500;
						}
						&:focus:not(:disabled) {
							box-shadow: none;
							outline: none;
						}
					}
				}
			}
			.blocklayouts-modal__content {
				flex: 1;
				height: 100%;
				padding: 0;

				.blocklayouts-modal__scrollable {
					padding-left: 4px;
				}
			}
			.blocklayouts-modal__screen-overlay {
				position: absolute;
				z-index: 999;
				top: 72px;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(255, 255, 255, 0.2);
				backdrop-filter: blur(6px);
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.blocklayouts-modal__scrollable {
		padding-right: 6px;
		margin-right: -14px;
		scrollbar-width: auto;
		-ms-overflow-style: auto;

		&::-webkit-scrollbar {
			width: 8px;
			background: transparent;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #7f7f7f;
		}
	}
}

.blocklayouts-modal__overlay {
	z-index: 9999 !important;
}

.blocklayouts-modal__spinner {
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}

// mobile
@media (max-width: 779px) {
	.blocklayouts-modal {
		.components-modal__content {
			width: 100%;
			.blocklayouts-modal__container {
				display: block;
				.blocklayouts-modal__sidebar {
					flex-direction: row;
					gap: 16px;
					width: 100%;
					h4 {
						display: none;
					}
					.blocklayouts-modal__scrollable {
						overflow: auto hidden !important;
					}
					.blocklayouts-modal__sidebar-buttons {
						display: inline-flex;
						flex-direction: row;
						.blocklayouts-modal__sidebar-button {
							white-space: nowrap;
						}
					}
				}
				.blocklayouts-modal__content {
					.dataviews-wrapper {
						.dataviews-view-grid {
							grid-template-columns: repeat(1, minmax(0, 1fr));
						}
					}
				}
			}
		}
	}
}
@media (min-width: 780px) and (max-width: 1024px) {
	.blocklayouts-modal {
		.components-modal__content {
			.blocklayouts-modal__container {
				.blocklayouts-modal__content {
					.dataviews-wrapper {
						.dataviews-view-grid {
							grid-template-columns: repeat(2, minmax(0, 1fr));
						}
					}
				}
			}
		}
	}
}
