@use "library";

/* Preferences */
.blocklayouts-preferences-modal__container {
	.blocklayouts-preferences-modal__sidebar-tabs {
		padding: 16px 0;
		.blocklayouts-preferences-modal__sidebar-tab {
			&.is-selected {
				background-color: #f3f4f6;
				font-weight: 500;
			}
			&:focus:not(:disabled) {
				box-shadow: none;
				outline: none;
			}
			&:hover:not(:disabled) {
				background-color: #f8f9fa;
			}
		}
	}
}

/* Animations */
.animate-pulse {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
	50% {
		opacity: 0.5;
	}
}
